[submodule "topic-05/SOLID"]
	path = topic-05/SOLID
	url = https://github.com/mikeknep/SOLID.git
[submodule "topic-04/java-core-exercises"]
	path = topic-04/java-core-exercises
	url = https://github.com/bobocode-projects/java-core-exercises
[submodule "javafx-examples"]
	path = javafx-examples
	url = https://github.com/jjenkov/javafx-examples
[submodule "CSM100-SDP-Spring-2023-di"]
	path = CSM100-SDP-Spring-2023-di
	url = https://github.com/University-of-London/CSM100-SDP-Spring-2023-di
[submodule "topic-03/CSM100-SDP-Spring-2023-di"]
	path = topic-03/CSM100-SDP-Spring-2023-di
	url = https://github.com/University-of-London/CSM100-SDP-Spring-2023-di
[submodule "topic-03/CSM100-SDP-Spring-2023-di/"]
	url = https://github.com/University-of-London/CSM100-SDP-Spring-2023-di
